<h1>{{ pages['articles'] }}</h1>

<form action="/dashboard?view=articles" method="POST">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Date création</th>
        <th scope="col">Auteur</th>
        <th scope="col">Statut</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for article in data.articles.articles %}
      <tr>
        <th scope="row">{{article.id}}</th>
        <td>{{article.titre}}</td>
        <td>{{article.date_creation}}</td>
        <td>{{article.nom_utilisateur}}</td>
        <td>
          <span class="badge {{
            article.statut == 'Publié' ? 'text-bg-primary'
            : article.statut == 'Brouillon' ? 'text-bg-secondary'
            : 'text-bg-warning' }}"
          >
            {{article.statut}}
          </span>
        </td>
        <td>
          {% if data.canEditAllArticles %}
          <button name="articles:edit" value="{{ article.id }}" class="btn btn-secondary" title="Modifier">
            Modifier
          </button>
          {% endif %}

          {% if data.canPublishArticles %}
            {% if article.statut == 'Publié' %}
            <button name="articles:archive" value="{{ article.id }}" class="btn btn-secondary" title="Archiver">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5zm13-3H1v2h14zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
              </svg>
            </button>
            {% else %}
            <button name="articles:publish" value="{{ article.id }}" class="btn btn-primary" title="Publier">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
              </svg>
            </button>
            {% endif %}
          {% endif %}

          {% if data.canDeleteArticles %}
          <button name="articles:delete" value="{{ article.id }}" class="btn btn-danger" title="Supprimer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
          </button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
