
<main class="article-container">
  <!-- Informations sur l'article -->
  {% if article is null %}
    <p>Article non trouvé</p>
  {% else %}
    <header class="article-reader-header">
      <img src="{{ article.image_une|default('https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=') }}" height="200" alt="" />
      <h1>{{ article.titre }}</h1>
      <h5 class="text-body-secondary">@{{ article.nom_utilisateur }}</h5>
      <p>
        <i>{{ article.date_creation|date("d/m/Y") }}</i>
      </p>

      {% for tag in tags %}
      <span class="badge text-bg-secondary">{{ tag.nom_tag }}</span>
      {% endfor %}
    </header>
    
    <!-- Corps de l'article -->
    <article>
      {{ article.contenu|markdown_to_html }}</p>
    </article>

    <!-- Espace commentaires -->
    <span class="separator"></span>
    <h3>Commentaires</h3>

    {% if comments is empty %}
        <p>Aucun commentaire pour le moment.</p>
    {% else %}
        {% for comment in comments %}
            <div class="comment mb-3">
                <strong>{{ comment.username }}</strong>
                <small class="text-muted">
                    {{ comment.created_at|date("d/m/Y H:i") }}
                </small>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    {% endif %}

  {% endif %}
</main>
